*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
font-family: 'Poppins', sans-serif;
}
html {
    background: url(./images/pexels-johannes-plenio-1103970.jpg) no-repeat center fixed;
    background-size: cover;
    
}
header{
    width: 100%;
    
    height: 5em;
    
    position: fixed;
    
}

ul{
    display: flex;
    list-style: none;
    
    height: 5em;
    align-items: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: #0c4e5c;
}
li{
    font-size: 2em;
    padding: 20px;
}
.home{
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 2em;
}
aside{
    float: right;
    width: 250px;
    margin-top: 150px;
    border-left: 3px solid #0c4e5c;
    padding-left: 15px;
    margin-left: 20px;
}
.myface{
    background: #fff;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 5px solid #0c4e5c;
    border-radius: 50%;
    position: relative;
    top: 180px;
    left: 150px;
}
.mybadface{
    background: #fff;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 5px solid #0c4e5c;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 350px;}
    
.myhood{
    background: #fff;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 5px solid #0c4e5c;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 550px;}

.myface img{
    width: 240px;
    
}
.mybadface img{
    width: 270px;
    
}
.myhood img{
    width: 400px;
    height: 300px;
    
}
p{
    color: #e0bd49;
}
main{
    position: relative;
    top: 230px;
}
footer{
    position: relative;
    top: 400px;
}
